[Unit]
Description=Automatic Disk Standby using Kernel diskstats and hdparm

[Service]
Type=simple
ExecStart=/usr/bin/hdd-spindown.sh

[Install]
WantedBy=multi-user.target
